# Imagenes variantes auxiliares
*Ej2_aux_charcoal.jpg
*Ej2_aux_quality.jpg
*Ej2_aux_vignette.jpg
*arreglo_rectangular.jpg

# Archivos de compilacion de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Archivos de datos del ejercicio 3-9 4-12 5-5 5-6 6-1
**/_python_cas/ejercicio_9/**/*.csv
**/_c/ejercicio_12/**/*.csv
**/_cpp_y_numlibs/ejercicio_5/**/*.dat
**/_cpp_y_numlibs/ejercicio_6/**/*.dat
**/_cpp_y_numlibs/ejercicio_7/**/*.dat
**/_cpp_y_numlibs/ejercicio_8/**/*.dat
**/_MD/ejercicio_1/**/Datos*

# Imágenes del ejercicio 3-9 3-11 3-12
**/_python_cas/ejercicio_9/**/*.png
**/_python_cas/ejercicio_11/**/*.png
**/_python_cas/ejercicio_12/**/*.png

# Archivos de compilación de C/C++
*.out

# Archivos de registro de LAMMPS
**/log.lammps