# Imagenes variantes auxiliares
*Ej2_aux_charcoal.jpg
*Ej2_aux_quality.jpg
*Ej2_aux_vignette.jpg
*arreglo_rectangular.jpg

# Archivos de compilacion de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Archivos de datos e imágenes del ejercicio 3-9
**/_python_cas/ejercicio_9/**/*.csv
**/_python_cas/ejercicio_9/**/*.png

# Imágenes del ejercicio 3-11 3-12
**/_python_cas/ejercicio_11/**/*.png
**/_python_cas/ejercicio_12/**/*.png
