# Imagenes variantes auxiliares
*Ej2_aux_charcoal.jpg
*Ej2_aux_quality.jpg
*Ej2_aux_vignette.jpg
*arreglo_rectangular.jpg

# Archivos de compilacion de LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

# Archivos de datos del ejercicio 3-9 4-12 5-5 5-6 6-1 6-2 6-3 7-1 7-2
**/_python_cas/ejercicio_9/**/*.csv
**/_c/ejercicio_12/**/*.csv
**/_cpp_y_numlibs/ejercicio_5/**/*.dat
**/_cpp_y_numlibs/ejercicio_6/**/*.dat
**/_cpp_y_numlibs/ejercicio_7/**/*.dat
**/_cpp_y_numlibs/ejercicio_8/**/*.dat
**/_MD/ejercicio_1/**/Datos*
**/_MD/ejercicio_1/**/*.dat
**/_MD/ejercicio_2/**/*.dat
**/_MD/ejercicio_3/**/Datos*
**/_OF/*.dat
**/_OF/ejercicio_2/fourierSeriesSolution/dat/*.png
**/_OF/ejercicio_2/fourierSeriesSolution/dat/*.csv
**/_OF/ejercicio_2/OpenFOAMSolution/dat/*.png

# Imágenes del ejercicio 3-9 3-11 3-12 6-1
**/_python_cas/ejercicio_9/**/*.png
**/_python_cas/ejercicio_11/**/*.png
**/_python_cas/ejercicio_12/**/*.png
**/_MD/ejercicio_1/**/*.png
**/_MD/ejercicio_2/**/*.png

# Archivos de compilación de C/C++
*.out

# Archivos de registro de LAMMPS
**/log.lammps

# Entornos de ejecución de Python
**/_MD/ejercicio_1/python/env/*
**/_MD/ejercicio_2/parabolic/weirdParabolic/python/env/*
**/_MD/ejercicio_3/python/env/*

# Archivos de interpretación de Python
**/__pycache__/*

# Documentos .pdf
**/\[Berkeley\ Physics\ Course\]\ Vol.\ 2.\ Electricity\ and\ Magnetism.pdf
**/potential_flow.pdf
**/conformal_mapping_in_fluid_mechanics.pdf

# Arhivos de configuración de Visual Studio Code
**/.vscode/*

# Archivos de registro de ipynb
**/.ipynb_checkpoints/*

# Slides de las clases
**/HCMA_clase_intro_CFD_1.pdf
